doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(
      rel='stylesheet',
      href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/3.2.6/tailwind.min.css'
    )

  body
    include navbar
    .max-w-6xl.mx-auto.bg-white.rounded-lg.p-6
      block content
    include footer
